/** @format */
.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 34px;
  justify-content: center;
  border-radius: 1px;
  color: rgb(0, 0, 0);
  padding: 8px;
  height: 45px;
  background-color: #eee;
  width: 100%;
}


.tool_container{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  padding: 8px;
  border-right: 1px solid rgb(222, 225, 227);
  height: 30px;
}

.history_container {
  border-left: 1px solid rgb(222, 225, 227);
}

.tool_container:nth-child(odd){

}

.button {
  border: none;
  width: fit-content;
  background-color: transparent;
  font-size: 15.85px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px;
  border-radius: 2px;
  color: inherit;
  padding: 4px;
}

.active {
  background-color: var(--accent);
  color: white;
  
}

.button:hover {
  background-color:var(--accent);
  color: white;
}

.section {
  display: flex;
  width: fit-content;
  gap: 14px;
  align-items: center;
  height: 100%;
  padding: 3px;
}


@media  screen and (min-width: 100px) and (max-width: 600px) {
  
}
