/** @format */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  z-index: 100;
}

.logo {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 500;
}
.profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.image {
  min-width: 60px;
  display: flex;
}

.image img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  opacity: 1;
}

.list_container {
  margin-top: 30px;
  height: calc(63% - 50px);
}

.navlist {
  display: flex;
  margin: 8px;
  list-style: none;
  flex-direction: column;
}

.navlist_item {
  height: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.navlink {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  height: 100%;
  color: var(--primaryFontColor);
  text-decoration: none;
}
.navlink i {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink:hover {
  background-color: var(--secondary-color-light);
}

.footer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 400px;
  gap: 18px;
}

.logoutBtn {
  padding: 10px;
  display: flex;
  font-size: 16px;
  align-items: center;
  border: none;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color-light);
  cursor: pointer;
}

.logoutBtn i {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit_btn {
  background-color: var(--primary-color-light);
}

