/** @format */
.container {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color-light);
 
}

.body {
  flex: 1;
  border-radius: 2px;
  height: 100%;
  overflow-y: auto;
  margin-left: 240px;
  display: flex;
  color: var(--primaryFontColor);
  scroll-behavior: smooth;
  padding: 10px;
}

.body::-webkit-scrollbar {
  width: 12px; /* Adjust the width if necessary */
  background-color: transparent;
}

.body::-webkit-scrollbar-track {
  background: transparent;
}

.body::-webkit-scrollbar-thumb {
  background: transparent; /* Adjust the thumb color if needed */
  border-radius: 10px; /* Optional: round the scrollbar thumb */
  background-color: transparent;
}
