/** @format */

.sideNav {
  position: fixed;
  left: 0;
  height: 90%;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  overflow-y: scroll;
}

.list {
  padding: 18px;
  list-style: none;
  width: 100%;
}

.list li {
  margin: 8px;
}

.list li a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.title {
  font-weight: 500;
  margin-left: 8px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
}

.tagList li {
  margin: 8px;
}

.tagList li a {
  background-color: var(--button-background-color);
  padding: 4px;
  font-size: 12px;
  color: var(--secondary-text-color);
  border: 2px solid var(--border-color);
  border-radius: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px;
  list-style: none;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 8px;
}

.headerItem {
  display: flex;
  align-items: center;
}

.headerLink {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  padding: 4px;
  width: 100%;
  border-radius: 8px;
}

.headerLink:hover {
  background-color: var(--accent-color);
}

.headerLink i {
  display: flex;
  align-items: center;
  min-width: 25px;
}
