/** @format */

.dropdown_container {
  position: relative;
}

.input_container {
  display: flex;
  align-items: center;
  background-color: var(--input-background-light);
  height: 35px;
  padding: 5px;
  border-radius: 2px;
}

.input_container i {
  font-size: 20px;
  font-weight: 600;
}

.dropdown_input {
  border: none;
  outline: none;
  padding: 4px;
  width: 100%;
  background-color: transparent;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  left: -2px;
  top: 38px;
  background-color: #eee;
  border-radius: 10px;
}

.toggle_btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  min-width: 20px;
  cursor: pointer;
}

.paragraph {
  font-size: 0.85rem; /* Smaller font size for compact display */ /* Slightly reduced line height for better fit */ /* Small vertical margins to separate paragraphs */
  color: #333; /* Darker color for readability */
  font-family: Arial, sans-serif; /* Common, readable font */
}
.dropdown_select_btn {
  border: none;
  outline: none;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: fit-content;
}

.heading-1 {
  font-weight: bold;
  font-size: 1.2rem;
}

.heading-2 {
  font-weight: bold;
  font-size: 1.1rem;
}

.heading-3 {
  font-weight: bold;
  font-size: 1rem;
}

.heading-4 {
  font-weight: bold;
  font-size: 0.9rem;
}

.selected_text {
  padding: 5px;
}

.heading-5 {
  font-weight: bold;
  font-size: 0.8rem;
}

.heading-6 {
  font-weight: bold;
  font-size: 0.7rem;
}
