/** @format */
.socials_input_wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 8px;
  gap: 8px;
}

.social_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
}

.add_input_container {
  display: flex;
  height: 35px;
  width: 100%;
  max-width: 390px;
}

.add_btn {
  padding: 0 12px;
  border: 1px solid #6b6b6b;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  background-color: var(--primary-color-light);
  color: var(--primaryFontColor);
  transition: background-color 0.3s;
}

.add_btn:hover {
  background-color: #0056b3;
}

.error_message {
  font-weight: normal;
  font-size: 13px;
  color: #a84a4a;
  display: flex;
  align-items: center;
  width: 230px;
}

.error_message svg {
  margin-left: 5px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 8px;
}

.social {
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  background-color: var(--background-color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_text {
  flex: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove_btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #a84a4a;
  transition: color 0.3s;
}

.remove_btn:hover {
  color: #ff0000;
}
