/** @format */
.socialContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.input {
  flex: 1;
  border: none;
  padding: 8px;
}

.add_btn {
  height: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-left: 1px solid var(--border-color);
}
.socials {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social {
  display: flex;
  align-items: center;
  width: 420px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.social_text {
  flex: 1;
}
.remove_btn {
  padding: 0 18px;
  border: none;
  cursor: pointer;
}
.remove_btn i {
  font-size: 25px;
}
