/** @format */

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: var(--primary);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #eee;
  z-index: 1;
  height: 97px;
  background-color: var(--accent);
}

.content {
  margin-top: 97px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.control {
  width: 100%;
  height: fit-content;
  padding: 0px 9px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 35px;
  justify-content: flex-end;
  /*border-bottom: 1px solid var(--borderColor); */
}

.control_btn {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--primaryFontColor);
  cursor: pointer;
}

.save_btn {
  background-color: var(--tertiary);
  width: 80px;
}

.wrapper {
  width: 55%;
  height: 400px;

  margin: auto;
}

.back_btn {
  margin-right: auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.back_btn span {
  font-weight: bold;
  font-size: 25px;
}

.back_icon {
  font-size: 23px;
  color: white;
}
.publish_btn {
  background-color: rgb(46, 121, 226);
}
.setting_btn {
  margin: 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.left_container {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.meta_container {
  flex-direction: column;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--tertiary);
  padding: 10px;
}

.input {
  padding: 8px 15px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}
.title_input {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primaryFontColor);
}
.title_input::placeholder {
  font-size: 1.6rem;
  font-weight: bold;
}
.subtitle_input {
  font-size: 1rem;
  color: var(--primaryFontColor);
}
.subtitle_input {
  font-size: 1rem;
}

.middle_content {
  margin: auto;
  margin-top: 25px;
  width: 65%;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding: 4px;
  }
}
