/** @format */

.post_card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 230px;
  transition: transform 0.2s;
  cursor: pointer;
  width: 700px;
  min-height: 230px;
  border: none;
  background-color: var(--card-background-color);
  transition: transform ease-in-out;
}
.post_card:hover {
  transform: scale(1.01);
}
.profile_image {
  border-radius: 50px;
  height: 26px;
  width: 26px;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  width: 90%;
  width: 400px;
  overflow: hidden;
  text-overflow: clip;
}

.link:hover {
  color: var(--accent-color);
}

.sub_title {
  font-size: 1.1rem;
  max-width: 90%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_data_wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-left: 20px;
}

.post_card_header {
  padding: 8px;
  align-items: center;
  display: flex;
  gap: 8px;
}

.post_card_body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heroImage {
  margin-left: auto;
  width: 140px;
  height: 120px;
  border-radius: 8px;
}

.dateInfo {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}

.footer {
  padding: 13px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.card_footer_button {
  padding: 8px;
  display: flex;
  gap: 8px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}
.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: 2px solid var(--secondaryFontColor);
}

.status_text {
  font-size: 12px;
}
