/** @format */
.container {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo_container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.logo_link {
  display: flex;
  align-items: center;
}
