/** @format */
.container {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo_container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.logo_link {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.listItem {
  display: flex;
  align-items: center;
  margin-left: 8px;
  text-transform: capitalize;
}

.navBtn {
  display: flex;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 800ms ease-in-out;
}

.link {
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 400ms ease-in-out;
}
.link i {
  font-size: 20px;
}

.link:hover {
  background-color: var(--accent-color);
  color: black;
}

.navBtn:hover {
  background-color: var(--accent-color);
  color: black;
}
