/** @format */

:root {
  --primary-100: #f3f3f3;
  --primary-200: #e8e8e8;
  --primary-300: #bababa;
  --primary-400: #757575;
  --primary-500: #1a1a1a;
  --primary-600: #161313;
  --primary-700: #120d0e;
  --primary-800: #0f080a;
  --primary-800: #0c0407;

  --success-100: #d8fbd4;
  --success-200: #abf8ab;
  --success-300: #7deb88;
  --success-400: #59d872;
  --success-500: #2abf56; /* Example middle shade */
  --success-600: #1ea453;
  --success-700: #15894e;
  --success-800: #0d6e46;
  --success-900: #085b41;

  --info-100: #cafcf5;
  --info-200: #97faf3;
  --info-300: #61eef0;
  --info-400: #3ad2e1;
  --info-500: #02acce; /* Example middle shade */
  --info-600: #0186b1;
  --info-700: #016594;
  --info-800: #004877;
  --info-900: #003462;

  --danger-100: #ffe2da;
  --danger-200: #ffbfb6;
  --danger-300: #f88a9f;
  --danger-400: #ff9591;
  --danger-500: #ff4965;
  --danger-600: #db355e;
  --danger-700: #b72456;
  --danger-800: #93174d;
  --danger-900: #7a0e47;

  --primary-bg: #1a202c; /* Dark background color */
  --primary-text: #e2e8f0; /* Light text color for contrast */
  --primary-accent: #3a8bd9; /* Accent color for interactive elements */

  /* Shades for Primary Blue */
  --blue-100: #2d3748;
  --blue-200: #384656;
  --blue-300: #455769;
  --blue-400: #536481;
  --blue-500: #627d99; /* Example middle shade */
  --blue-600: #6f8ba7;
  --blue-700: #7d99b9;
  --blue-800: #8ba7c9;
  --blue-900: #99b5db;
}
