/** @format */
.container {
  width: 100%;
  display: flex;
  background-color: var(--card-background-color);
}

.tab_container {
  background-color: var(--card-background-color);
  position: relative;
  width: 100%;
}

.tab_header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--card-background-color);
  z-index: 99;
  width: 100%;
  position: sticky;
  height: 55px;
  top: 0;
  right: 0;
  padding: 25px;
  align-items: center;
}

.tab_header button {
  width: 210px;
}

.tab_body {
  padding: 30px 8px;
  max-height: 100%;
  overflow-y: scroll;
}

.active {
  background-color: #3a8bd9;
}
