/** @format */

.container {
  padding-top: 60px;
  background-color: var(--secoundary);
  height: 100vh;
  /*  background: url("../../assets/land.jpg");
  background-size: cover;
  background-blend-mode: darken;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  /*background-color: rgb(17, 123, 243);*/
  display: flex;
  padding: 10px;
  gap: 20px;
  /* background: url("../../assets/landing.jpg");*/
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--accent);
  width: 60%;
}

.title {
  font-size: 19.8px;
  text-align: center;
  font-weight: bold;
  /* Replace with your colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  margin: 20px;
  font-size: 19.15px;
  color: var(--primaryFontColor);
  /* text-shadow: 1px 1px rgb(0, 0, 0);*/
}

.button_wrapper {
  margin-top: 10px;
  padding: 10px;
}

.button_wrapper button {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 3px;
  background-color: var(--tertiary);
  color: rgb(223, 216, 216);
  box-shadow: 38px 19px 100px -3px rgba(7, 6, 6, 0.1);
}

.button_wrapper button:hover {
  cursor: pointer;
}
