/** @format */

.container {
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.heroContent {
  padding: 90px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 480px;
}

.heroContent h1 {
  width: 550px;
  font-size: 40px;
}

.heroContent h1 span {
  color: var(--accent-color);
}

.heroContent p {
  margin-bottom: 15px;
  width: 560px;
  font-size: 20px;
  color: var(--secondary-text-color);
}

.ctaButton {
  padding: 10px 15px;
  width: 145px;
  margin-top: 10px;
  cursor: pointer;
}

.landing_image {
  position: absolute;
  right: 100px;
}

.features {
}

.divider {
  padding: 80px 40px;
  display: flex;
  border-top: 2px solid var(--border-color);
}

.editor_features {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.editor_features h2 {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-left: 8px;
  color: var(--accent-color);
  font-size: 30px;
}

.editor_features p {
  color: var(--secondary-text-color);
  font-size: 20px;
}

.featureList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  margin-left: auto;
}

.featureListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.featureListItem h2 {
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 8px;
}

.featureListItem p {
  color: var(--secondary-text-color);
}

.dashboard_features {
  flex-direction: row-reverse;
}

.dashboard_features .featureList {
  margin-left: 0;
  margin-right: auto;
}

.writing_community {
  padding: 80px 40px;
  border-top: 2px solid var(--border-color);
}

.community_intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
}

.community_title {
  margin-left: 8px;
  margin-bottom: 8px;
}

.community_description {
  color: var(--secondary-text-color);
}
.community_features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature_item {
  padding: 10px;
}

.feature_title {
  margin-left: 4px;
  font-weight: 500;
}

.feature_description {
}
