/** @format */
.container {
  height: 100%;
  width: 390px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.google_icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  padding: 10px;
  border-radius: 4px;
}

.button_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.google_signin_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 290px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 17.16px;
  justify-content: center;
  transition: ease-in-out 100ms;
  height: 60px;
}

.google_signin_btn:hover {
  cursor: pointer;
}

.main_image {
  flex: 1;
}
