/** @format */
.container {
  height: 400px;
  width: 390px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}

.header {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 8px;
  padding: 8px;
}

.header h2 {
  font-weight: 500px;
  text-align: center;
  padding-left: 7px;
}

.header p {
  text-align: justify;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.google_icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  padding: 10px;
  border-radius: 4px;
}

.button_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.google_signin_btn {
  display: flex;
  align-items: center;
  width: 290px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 17.16px;
  justify-content: center;
  transition: ease-in-out 100ms;
  height: 60px;
}

.google_signin_btn i {
  min-width: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.google_signin_btn:hover {
  cursor: pointer;
}

.main_image {
  flex: 1;
}
