/** @format */
.container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.wrapper {
  flex-direction: row;
  display: flex;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto; /* Changed to auto for scroll only when needed */
  max-height: 100%;
  width: 550px;
  padding: 8px;
  margin-left: auto;
}

.header {
  font-weight: 400;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.header span {
  flex: 1;
}

.header p {
  max-width: 980px; /* Changed width to max-width for better responsiveness */
}

.header h2 {
  margin-bottom: 8px;
  margin-left: 8px;
}

.edit_btn {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 8px;
  border-radius: 8px;
}

.edit_btn i {
  display: flex;
  align-items: center;
}

.title_text {
  font-size: 18px;
  font-weight: 400;
}

.input {
  transition: width ease-in-out 800ms;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  gap: 8px;
}

.text_area {
  border-radius: 8px;
}

.text_area:focus,
.input:focus {
  outline: 2px solid #0d6efd;
}

.button {
  border-radius: 8px;
}

.cover_image_upload_container {
  border: 1px dashed var(--border-color);
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image_upload_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 16px;
  color: var(--secondary-text-color);
  flex-direction: column;
}

.image_upload_text_wrapper i {
  font-size: 8rem;
}

.file_input {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.user_message_section {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.required_text {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-transform: capitalize;
}

.required_text i {
  min-width: 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
