@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: #d6dad8;
  --secoundary: #cacfcd;
  --accent: rgb(34, 37, 46);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--secoundary);
}

#root {
  height: 100%;
}
