/** @format */

.menu_wrapper {
  margin-left: auto;
  font-size: 19.5px;
  position: relative;
}

.menu_dropdown {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary);
  padding: 10px;
  width: 80px;
  align-items: center;
  right: 15px;
  position: absolute;
  gap: 15px;
  border-top-left-radius: 10px;
}

.link {
  color: white;
  text-transform: capitalize;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.toggle_btn {
  background: transparent;
  color: var(--primaryFontColor);
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
