/** @format */

.container {
  background-color: var(--accent);
  height: 100vh;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--primaryFontColor);
  align-items: center;
  flex-direction: column;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 19px;
}

.createForm {
  padding: 10px;
  width: 540px;
  height: 380px;
}

.title {
  margin-bottom: 14px;
  text-align: center;
}
.text {
  text-align: center;
}
.input {
  width: 100%;
  padding: 10px;
  border: none;
  height: fit-content;
  height: 40px;
  background-color: var(--tertiary);
  color: var(--primaryFontColor);
  font-size: 18px;
}

input:focus {
  outline: 1px solid var(--primaryButtonColor);
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  background-color: var(--primaryButtonColor);
  border-radius: 12px;
  border: none;
  width: 130px;
  margin-top: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.text_container {
  margin-bottom: 10px;
}

.error {
  font-size: 14px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  color: rgb(145, 36, 36);
}
.error svg {
  margin-right: 4px;
}
