/** @format */

.container {
  background-color: var(--card-background-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.tag_wrapper {
  background-color: var(--background-color);
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}
.tag_container span {
  display: flex;
}

.tag_container button {
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.tag_text {
  margin-right: 8px;
}

.close_btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: 8px;
  font-size: 16px;
}

.close_btn i {
  font-size: 20px; /* Increase the icon size */
}

.input {
  flex-grow: 1; /* Allows input to take available space */
  border: none;
  padding: 8px;
  font-size: 14px;
  outline: none;
  background: transparent;
}
